@model DXCTechnology.Belcorp.ePlanning.Models.ConsolidadoView

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Información detallada</h4>

        </div>

        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UnidadesLimite)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UnidadesLimite)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NumeroEspacios)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NumeroEspacios)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CuentaOfertas)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CuentaOfertas)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Binomio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Binomio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CUVPadre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CUVPadre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CUV)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CUV)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CUCAntiguo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CUCAntiguo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SAPAntiguo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SAPAntiguo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BPCSGenericoAntiguo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BPCSGenericoAntiguo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BPCSTonoAntiguo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BPCSTonoAntiguo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DescripcionGenericoAntiguo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DescripcionGenericoAntiguo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DescripcionTonoAntiguo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DescripcionTonoAntiguo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Lanzamiento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Lanzamiento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CUC)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CUC)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SAP)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SAP)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BPCSGenerico)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BPCSGenerico)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BPCSTono)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BPCSTono)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IndicadorGratis)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IndicadorGratis)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DescripcionSet)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DescripcionSet)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DescripcionProducto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DescripcionProducto)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DescripcionCatalogo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DescripcionCatalogo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CompuestaVariable)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CompuestaVariable)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NumeroGrupo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NumeroGrupo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FactorCuadre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FactorCuadre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FlagTop)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FlagTop)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Tono)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tono)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Marca)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Marca)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Categoria)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Categoria)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Tipo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tipo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DescuentoSet)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DescuentoSet)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReglaSet)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReglaSet)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GAPMNvsImpreso)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GAPMNvsImpreso)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GAPUSDvsImpreso)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GAPUSDvsImpreso)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IndicadorCxC)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IndicadorCxC)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FactoRepeticion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FactoRepeticion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.POUnitarioMN)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.POUnitarioMN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.POSetMN)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.POSetMN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PNSetMN)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PNSetMN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PNUnitarioMN)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PNUnitarioMN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Unidades)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Unidades)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.P1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.P1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.P2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.P2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.P3)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.P3)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.P4)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.P4)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.P5)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.P5)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.P6)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.P6)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.P7)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.P7)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Comentario)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Comentario)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CODP)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CODP)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NumeroProductosOferta)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NumeroProductosOferta)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TipoPlan)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TipoPlan)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IndicadorSubcampana)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IndicadorSubcampana)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CantidadSAPDiferentes)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CantidadSAPDiferentes)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NumeroRepeticionesSAP)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NumeroRepeticionesSAP)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IdTactica)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IdTactica)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TipoOferta)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TipoOferta)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UsuarioCreacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UsuarioCreacion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaCreacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaCreacion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UsuarioModificacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UsuarioModificacion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaModificacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaModificacion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IdArgumento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IdArgumento)
                </dd>
            </dl>
        </div>

    </div>
</div>
