<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-url="@Url.Action("Create","Consolidado")" id="btnCreateAsset">
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Añadir
                </button>



                <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#advancedSearchModal" id="advancedsearch-button">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Criterios de Búsqueda
                </button>

                <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#Eliminar" id="Eliminar">
                    <span aria-hidden="true"></span> Eliminar
                </button>

                <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#advancedSearchModal1" id="advanced2search-button2">
                    <span aria-hidden="true"></span> Columnas
                </button>
                <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#advancedSearchModal2" id="advanced2search-button3">
                    <span aria-hidden="true"></span> Guardar Consulta
                </button>
                <a href="@Url.Action("Exportar", "Consolidado")" class="editAsset">Exportar  a Excel</a>
            </div>
            <div class="panel-body">
                <table id="assets-data-table" class="table table-striped table-bordered" style="width:100%;"></table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createAssetModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createAssetContainer">
    </div>
</div>

<div class="modal fade" id="editAssetModal" tabindex="-1" role="dialog" aria-labelledby="EditAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="editAssetContainer">
    </div>
</div>

<div class="modal fade" id="detailsAssetModal" tabindex="-1" role="dialog" aria-labelledby="DetailsAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="detailsAssetContainer">
    </div>
</div>

<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="DeleteAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="deleteAssetContainer">
    </div>
</div>


<p><button>Submit</button></p>

<b>Data submitted to the server:</b><br>
<pre id="example-console">
</pre>

<p><button>Submit</button></p>

@Html.Action("AdvancedSearch")

@section Scripts
{

    <script type="text/javascript">
        var dt;
        var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#assets-data-table').DataTable({
                        "colReorder": true,
                        "scrollX": true,
                        "serverSide": true,
                        "processing": true,
                        "ajax": {
                            "url": "@Url.Action("Get","Consolidado")",
                            "data": function (data) {
                                data.IdPalanca = $("#IdPalanca").val();
                                data.IdCampana = $("#IdCampana").val();
                                data.IdPais = $("#IdPais").val();
                                data.CuentaOfertas = $("#CuentaOfertas").val();
                                data.IdTipoOferta = $("#IdTipoOferta").val();
                                data.CUC = $("#CUC").val();
                                data.SAP = $("#SAP").val();
                            },
                            "type": "POST"
                        },
                        "columns": [


                            {
                                "title": "",
                                "data": "IdConsolidado",
                                "searchable": false,
                                "sortable": false,
                                'render': function (data, type, full, meta) {
                                return '<input type="checkbox" name="id[]" value="'
                                    + $('<div/>').text(data).html() + '">';
                                }
                            },





                            {
                                "title": "",
                                "data": "IdConsolidado",
                                "searchable": false,
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return '<a href="@Url.Action("Edit", "Consolidado")?id=' + data + '" class="editAsset">Editar</a> ';
                                }
                            },


                            {
                                "title": "",
                                "data": "IdConsolidado",
                                "searchable": false,
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return '<a href="@Url.Action("Details", "Consolidado")?id=' + data + '" class="detailsAsset">Detalles</a>';
                                }
                            },


                            {
                                "title": "",
                                "data": "IdConsolidado",
                                "searchable": false,
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return '<a href="@Url.Action("Delete", "Consolidado")?id=' + data + '" class="deleteAsset">Eliminar</a>';
                                }
                            },

                            {
                                "title": "",
                                "data": "IdConsolidado",
                                "searchable": false,
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return '<a href="@Url.Action("Delete", "Consolidado")?id=' + data + '" class="deleteAsset"> Oferta</a>';
                                }
                            },


                            { "title": "Campaña Planeación", "data": "IdCampanaPlaneacion", "searchable": true },
                            { "title": "Campaña Proceso", "data": "IdCampanaProceso", "searchable": true },
                            { "title": "Unidades Límite", "data": "UnidadesLimite", "searchable": true },
                            { "title": "Numero Espacios", "data": "NumeroEspacios", "searchable": true },


                            { "title": "IdPais", "data": "IdPais", "searchable": true },
                            { "title": "CuentaOfertas", "data": "CuentaOfertas", "searchable": true },
                            { "title": "Binomio", "data": "Binomio", "searchable": true },
                            { "title": "CUVPadre", "data": "CUVPadre", "searchable": true },
                            { "title": "CUV", "data": "CUV", "searchable": true },
                            { "title": "CUCAntiguo", "data": "CUCAntiguo", "searchable": true },
                            { "title": "SAPAntiguo", "data": "SAPAntiguo", "searchable": true },
                            { "title": "BPCSGenericoAntiguo", "data": "BPCSGenericoAntiguo", "searchable": true },
                            { "title": "BPCSTonoAntiguo", "data": "BPCSTonoAntiguo", "searchable": true },
                            { "title": "DescripcionGenericoAntiguo", "data": "DescripcionGenericoAntiguo", "searchable": true },
                            { "title": "DescripcionTonoAntiguo", "data": "DescripcionTonoAntiguo", "searchable": true },
                            { "title": "Lanzamiento", "data": "Lanzamiento", "searchable": true },
                            { "title": "CUC", "data": "CUC", "searchable": true },
                            { "title": "SAP", "data": "SAP", "searchable": true },
                            { "title": "BPCSGenerico", "data": "BPCSGenerico", "searchable": true },
                            { "title": "BPCSTono", "data": "BPCSTono", "searchable": true },
                            { "title": "IndicadorGratis", "data": "IndicadorGratis", "searchable": true },
                            //{ "title": "DescripcionSet", "data": "DescripcionSet", "searchable": true },
                            //{ "title": "DescripcionProducto", "data": "DescripcionProducto", "searchable": true },
                            //{ "title": "DescripcionCatalogo", "data": "DescripcionCatalogo", "searchable": true },
                            { "title": "CompuestaVariable", "data": "CompuestaVariable", "searchable": true },
                            { "title": "NumeroGrupo", "data": "NumeroGrupo", "searchable": true },
                            { "title": "FactorCuadre", "data": "FactorCuadre", "searchable": true },
                            { "title": "FlagTop", "data": "FlagTop", "searchable": true },
                            { "title": "Tono", "data": "Tono", "searchable": true },
                            { "title": "Marca", "data": "Marca", "searchable": true },
                            { "title": "Categoria", "data": "Categoria", "searchable": true },
                            { "title": "Tipo", "data": "Tipo", "searchable": true },
                            { "title": "DescuentoSet", "data": "DescuentoSet", "searchable": true },
                            { "title": "ReglaSet", "data": "ReglaSet", "searchable": true },
                            { "title": "GAPMNvsImpreso", "data": "GAPMNvsImpreso", "searchable": true },
                            { "title": "GAPUSDvsImpreso", "data": "GAPUSDvsImpreso", "searchable": true },
                            { "title": "IndicadorCxC", "data": "IndicadorCxC", "searchable": true },
                            { "title": "FactoRepeticion", "data": "FactoRepeticion", "searchable": true },
                            { "title": "POUnitarioMN", "data": "POUnitarioMN", "searchable": true },
                            { "title": "POSetMN", "data": "POSetMN", "searchable": true },
                            { "title": "PNSetMN", "data": "PNSetMN", "searchable": true },
                            { "title": "PNUnitarioMN", "data": "PNUnitarioMN", "searchable": true },
                            { "title": "Unidades", "data": "Unidades", "searchable": true },
                            { "title": "P1", "data": "P1", "searchable": true },
                            { "title": "P2", "data": "P2", "searchable": true },
                            { "title": "P3", "data": "P3", "searchable": true },
                            { "title": "P4", "data": "P4", "searchable": true },
                            { "title": "P5", "data": "P5", "searchable": true },
                            { "title": "P6", "data": "P6", "searchable": true },
                            { "title": "P7", "data": "P7", "searchable": true },
                            { "title": "Comentario", "data": "Comentario", "searchable": true },
                            { "title": "CODP", "data": "CODP", "searchable": true },
                            { "title": "NumeroProductosOferta", "data": "NumeroProductosOferta", "searchable": true },
                            { "title": "TipoPlan", "data": "TipoPlan", "searchable": true },
                            { "title": "IndicadorSubcampana", "data": "IndicadorSubcampana", "searchable": true },
                            { "title": "CantidadSAPDiferentes", "data": "CantidadSAPDiferentes", "searchable": true },
                            { "title": "NumeroRepeticionesSAP", "data": "NumeroRepeticionesSAP", "searchable": true },
                            { "title": "IdTactica", "data": "IdTactica", "searchable": true },
                            { "title": "TipoOferta", "data": "TipoOferta", "searchable": true },
                            { "title": "UsuarioCreacion", "data": "UsuarioCreacion", "searchable": true },
                            //{ "title": "FechaCreacion", "data": "FechaCreacion", "searchable": true },
                            { "title": "UsuarioModificacion", "data": "UsuarioModificacion", "searchable": true },
                            //{ "title": "FechaModificacion", "data": "FechaModificacion", "searchable": true },
                            { "title": "IdArgumento", "data": "IdArgumento", "searchable": true },


                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],


                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }

            // Advanced Search Modal Search button click handler
            $('#btnPerformAdvancedSearch').on("click", assetListVM.refresh);

            // initialize the datatables
            assetListVM.init();


            $("#Eliminar").on("click", function () {

         
                    $("input:checkbox:checked").each(function () {
                        alert($(this).val());

                    });


                    var oTable = $("#assets-data-table").dataTable();
                    var sData = $('input', oTable.fnGetNodes()).serialize();

                    alert(sData);

            });


            $("input:checkbox:checked").each(function () {
                alert($(this).val());
            });

            $("#btnCreateAsset").on("click", function () {

                var url = $(this).data("url");

                $.get(url, function (data) {
                    $('#createAssetContainer').html(data);

                    $('#createAssetModal').modal('show');
                });

            });



            $('#assets-data-table').on("click", ".editAsset", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#editAssetContainer').html(data);

                    $('#editAssetModal').modal('show');
                });

            });





            $('#assets-data-table').on("click", ".detailsAsset", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#detailsAssetContainer').html(data);

                    $('#detailsAssetModal').modal('show');
                });

            });




            $('#assets-data-table').on("click", ".deleteAsset", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#deleteAssetContainer').html(data);

                    $('#deleteAssetModal').modal('show');
                });

            });










        });

    /**** Create Asset Ajax Form CallBack ********/

    function CreateAssetSuccess(data) {
        if (data != "success") {
            $('#createAssetContainer').html(data);
            return;
        }
        $('#createAssetModal').modal('hide');
        $('#createAssetContainer').html("");
        assetListVM.refresh();

    }

    /**** Edit Asset Ajax Form CallBack ********/

    function UpdateAssetSuccess(data) {

        if (data != "success") {
            $('#editAssetContainer').html(data);
            return;
        }
        $('#editAssetModal').modal('hide');
        $('#editAssetContainer').html("");
        assetListVM.refresh();

    }

    /**** Delet Asset Ajax Form CallBack ********/

    function DeleteAssetSuccess(data) {

        if (data != "success") {
            $('#deleteAssetContainer').html(data);
            return;
        }
        $('#deleteAssetModal').modal('hide');
        $('#deleteAssetContainer').html("");
        assetListVM.refresh();

    }

        











    </script>

}